<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% for css_url in assets.css %}
        <link rel="stylesheet" type="text/css" href="{{ css_url }}">
    {% endfor %}
    {% for js_url in assets.js %}
        <script type="text/javascript" src="{{ js_url }}"></script>
    {% endfor %}
    <title>{{ site_title }}</title>
</head>
<body>

    <!-- to place in an include tpl if notification -->
    {% include 'includes/notifications-wrapper.html.twig' %}

    <h1 class="font-bold darkColor">{{ page_title }}</h1>
    <p class="font-lightItalic lightColor">{{ text }}</p>
    <i class="fa fa-bolt"></i>

    <br>
    {#<button id="notif-error" class="btn btn-danger">Notification</button>
    <button id="notif-success" class="btn btn-success">Notification</button>
    <button id="notif-warning" class="btn btn-warning">Notification</button>
    <br>#}

    <div class="">
        <a href="/dkframework/entity-create" role="button" class="btn btn-primary btn-lg">Créer une entité</a>
    </div>
</body>
</html>