<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% for css_url in assets.css %}
        <link rel="stylesheet" type="text/css" href="{{ css_url }}">
    {% endfor %}
    {% for js_url in assets.js %}
        <script type="text/javascript" src="{{ js_url }}"></script>
    {% endfor %}
    <title>{{ site_title }}</title>
</head>
<body>
    <div id="error">
        <h1 class="font-black darkColor">Erreur <span class="lightColor">{{ error_type }}</span></h1>
        <p class="font-lightItalic lightColor">{{ message }}</p>
        <i class="fa fa-exclamation-circle error"></i>
    </div>
</body>
</html>