<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% for css_url in assets.css %}
            <link rel="stylesheet" type="text/css" href="{{ css_url }}">
        {% endfor %}
        {% for js_url in assets.js %}
            <script type="text/javascript" src="{{ js_url }}"></script>
        {% endfor %}
        <title>{{ site_title }}</title>
    </head>
    <body>
        <!-- to place in an include tpl if notification -->
        {% include 'includes/notifications-wrapper.html.twig' %}

        <h1 class="font-bold darkColor">{{ page_title }}</h1>
        <p class="font-lightItalic lightColor">{{ text }}</p>
        <i class="fa fa-diamond"></i><br>

        <form name="entityCreate" class="form-horizontal center-block" action="{{ getSelfUrl() }}" method="post">
            <div class="form-group">
                <label for="inputNameEntity" class="col-sm-3 control-label">Nom</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="entityName" id="inputNameEntity" placeholder="Nom de l'entité">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTableName" class="col-sm-3 control-label">Table sql</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="tableName" id="inputTableName" placeholder="Nom de la table dans la base">
                </div>
            </div>
            {#<div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>#}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-9 pull-right">
                    <button type="submit" class="btn btn-success">Ajouter une entité</button>
                </div>
            </div>
        </form>

        <div class="pull-left">
            {% include 'includes/back-button.html.twig' %}
        </div>

    </body>
</html>